<%- include("templates/header") %>
<%- include("templates/landingpage") %>
<div>
    <h1 class="text-3xl text-center mt-6"><span class="border-b-4 border-purple-600">Page Not Found - 404</span></h1>
</div>
<%- include("templates/footer") %>