<%- include("templates/header") %>
<%- include("templates/landingpage") %>
<div>
    <p class="text-3xl text-center mt-6"><span class="border-b-4 border-purple-600">Email is already in use. Please use another email</span></p>
    <br> 
    <p class="text-3xl text-center mt-6"><a href="/createUser">Try again</a></p>
</div>
<%- include("templates/footer") %>