<%- include("templates/header") %>

    <%for (var i = 0; i < 2; i++) {%>
        <div id="<%= 'location' + i %>">
                <%- include("templates/locations") %>
        </div>
    <%}%>

<%- include("templates/footer",{jsFile: ['js/home.js']}) %>