<%- include("templates/header") %>
<%- include("templates/landingpage") %>


    <br><h2>SunSpot: For when you want rain or shine!</h2><br>
        
    Imagine a weather app that not only tells you the forecast but also filters locations all around the world based on your unique weather preferences. 
    Introducing SunSpot, the next-generation weather app designed to provide you with the best destination spots.<br><br> 
        
        Key Features:
        <ul>
        
            <br><li>Customized Weather Filters: With SunSpot, you can tailor your next destination spots according to your specific needs. Whether you’re a sun-seeker, 
                a rain enthusiast, or a snow lover, SunSpot filters the weather forecast to highlight the desinations with the conditions of your preference. Simply set your 
                desired conditions, and SunSpot will prioritize the locations that align with your needs.</li><br>
        
            <li>Detailed Forecasts: SunSpot provides detailed daily forecasts, complete with minimum and maximum temperature, humidity, and predominant condition.</li><br>
        
            <li>Community Insights: Join a community of outdoor enthusiasts and share your experiences. SunSpot allows users to post reviews and share their experiences in each location,
                creating a collaborative platform for everyone to enjoy.</li><br>

        </ul>
        
        <p>    
        SunSpot goes beyond traditional weather apps by focusing on what truly matters to you. Whether you’re a sun-seeker, a winter enthusiast, or someone who loves a mild breeze, 
        SunSpot ensures you find the perfect destination to match your weather preferences. With SunSpot say hello to a personalized weather experience!<br>

        <br>Get started today by creating an account or logging in!

        </p>
        

<%- include("templates/footer") %>