<%- include ("templates/header") %>
<div class="top-0 bg-orange-500 w-full h-20"></div>
<p class="text-3xl text-center mt-6"><span class="border-b-4 border-purple-600">Password Reset!</span></p>
<br> 
<p class="text-3xl text-center mt-6"><a href="/login">Login</a></p>
<div class="absolute bg-orange-400 w-full h-20 bottom-0"></div>
<%- include ("templates/footer") %>