<%- include("templates/header") %>

    <h1>Enter New Password</h1>
    <form action="/reset-password/<%= token %>" method="POST">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="newPassword" required>
        <button type="submit">Reset Password</button>
    </form>

<%- include("templates/footer") %>