<%- include("templates/header") %>
<%- include("templates/landingpage") %>
    <div class="grid grid-row-2">
        <p class="text-center text-3xl my-4"><span class="border-b-4 border-purple-600">RESET PASSWORD</span></p>
        <div class="bg-orange-100 rounded-lg w-3/5 justify-self-center py-5">
            <p class="text-center">Please enter your email address to receive a password reset link</p>
            <form class="ml-2" action="/sendResetLink" method="POST">
                <div class="mx-auto">
                    <label for="email">Email:</label>
                    <input class="border-2 border-orange-300 rounded-2xl px-2 rounded-2xl focus:outline-none" type="email" id="email" name="email" placeholder="email "required>
                    <button type="submit" class="border-2 border-teal-300 bg-teal-200 rounded-3xl px-2 hover:border-cyan-300 hover:bg-cyan-200">Send Reset Link</button>
                </div>
            </form>
        </div>
    </div>
<%- include("templates/footer") %>