<%- include("templates/header") %>
<%- include("templates/landingpage") %>

<p class="text-center text-3xl my-4"><span class="border-b-4 border-purple-600">RESET LINK SENT</span></p>
<p class="text-center">If the email you entered matches our records, a link to reset your password has been sent.</p>

<%- include("templates/footer") %>