<%- include("templates/header") %>

    <h1>Reset Link Sent</h1>
    <p>If the email you entered matches our records, a link to reset your password has been sent.</p>

<%- include("templates/footer") %>