<%- include("templates/header") %>

    <h2>Welcome to the review page user!</h2><br>

    <button><a href="/post_review" style="text-decoration: none; color: red;">Share Your Experience! </a></button><br><br>
    

<%- include("templates/footer") %>