<!DOCTYPE html>
<html>
<head>
    <title>Sign Out</title>
</head>
<body>
    <form action="/signOut" method="post">
        <label for="password">Enter your password to confirm account deletion:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Delete Account</button>
    </form>
</body>
</html>

