.weather-tag {
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 7px;
    padding: 10px 15px;
    position: relative;
  }
  
.weather-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#profileDiv {
  height: 80vh;
}

/* DARK MODE CSS */

.dark-mode {
  color: #e0e0e0;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}
.dark-mode .bg-white {
  background-color: #121212;
}

.dark-mode .bg-teal-100 {
  background-color: #1d1d1d;
}

.dark-mode .bg-teal-200 {
  background-color: #1d1d1d;
}

.dark-mode .border-teal-300 {
  border-color: #ffab40;
}

.dark-mode .bg-cyan-200 {
  background-color: #673ab7;
}

.dark-mode .hover\:bg-cyan-200:hover {
  background-color: #9575cd;
}

/* Dark mode toggle button styles */
#darkModeToggle {
  background-color: #4a5568;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#darkModeToggle:hover {
  background-color: #2d3748;
}