<div class="fixed bottom-0 bg-orange-400 h-16 w-full">
    <div class="grid grid-cols-2 text-center align-center">
        <a href="/home"><p>HOME</p></a>
        <a href="/profile"><p>PROFILE</p></a>
    </div>
</div>