<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="fixed bottom-0 bg-orange-400 h-16 w-full">
    <div class="h-full grid grid-cols-2 grid-row-1 text-center content-center">
        <a href="/home" class="flex items-center justify-center">
            <i class="fas fa-home text-black mr-2"></i>
            <p>HOME</p>
        </a>
        <a href="/profile" class="flex items-center justify-center">
            <i class="fas fa-user text-black mr-2"></i>
            <p>PROFILE</p>
        </a>
    </div>
</div>