<!--TOP NAV BAR FOR THE LANDING PAGES-->
<div class="flex content-center bg-orange-500 w-full h-20">
    <div class="m-0 content-center w-1/6 flex">
        <img src="imgs/favicon.ico" class="rounded-full bg-white h-4/5 p-0.5 mx-auto self-center">
    </div>

    <ul class="flex w-5/6 h-full text-lg">
        <li class="px-5 h-full hover:bg-orange-400 text-center content-center">
            <a href="/" class="">HOME</a>
        </li>
        <li class="px-5 h-full hover:bg-orange-400 text-center content-center">
            <a href="/createUser" class="">SIGN UP</a>
        </li>
        <li class="px-5 h-full hover:bg-orange-400 text-center content-center">
            <a href="/login" class="">LOGIN</a>
        </li>
        <li class="px-5 h-full hover:bg-orange-400 text-center content-center">
            <a href="/about_us" class="">ABOUT US</a>
        </li>
        <li class="px-5 h-full hover:bg-orange-400 text-center content-center">
            <a href="/info" class="">INFO</a>
        </li>
    </ul>

</div>