    <div>
        <% for(let i=0; i < 2; i++) { %>
            <img src="" id="location_images_goe_here" style="width: 200px;" />
            <% } %>

        <p id="description_goes_here">description here</p>
        <button id="reviewBtn" onclick='window.location.href="./review"'>Review</button>
        <button id="letsGoBtn">Let's go</button>
        <button id="saveBtn">bookmark icon</button>
    </div>
