    <div class="bg-orange-200 w-4/6 mx-auto rounded-xl outline outline-orange-300">
        <img class="rounded-t-xl" src="imgs/placeholder.jpg" id="location_images_goe_here" class="w-full"/>
        <div class="grid grid-row-2 py-2 mx-2">
            <div class="grid">
                <div class="flex">
                    <div class="w-1/2 flex">
                        <h1 class="text-xl  w-5/6">LOCATION</h1>
                        <div class="rounded-full bg-white w-1/6 flex">
                            <p class="text-3xl">🌧️</p>
                        </div>
                    </div>
                    <div class="flex w-1/2">
                        <button id="letsGoBtn" class="rounded-lg bg-cyan-200 outline outline-cyan-300 mx-4 w-5/6">Let's Go</button>
                        <button id="saveBtn" class=" w-1/6"><img src="imgs/bookmark.png"></button>
                    </div>
                </div>
                <div class="flex">                                 
                    <p id="description_goes_here" class=" w-1/2">short description here, lorem impsum, etc etc</p>
                    <p class=" w-1/2 text-5xl text-orange-400 text-center">★★★★★</p>
                </div>
            </div>
        </div>
    </div>
